<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= meta_title %></title>
     <meta name="description" content="<%= meta_description %>">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/032e1ad544.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>



    <script type="text/javascript">
      var faq = document.getElementsByClassName("faq-page");
      var i;
      for (i = 0; i < faq.length; i++) {

          faq[i].addEventListener("click", function () {
              /* Toggle between adding and removing the "active" class,
              to highlight the button that controls the panel */
              this.classList.toggle("active");
              /* Toggle between hiding and showing the active panel */
              var body = this.nextElementSibling;
              if (body.style.display === "block") {
                  body.style.display = "none";
              } else {
                  body.style.display = "block";
              }
          });
      }
    </script>

      <script>
      function myFunction() {
        var checkBox = document.getElementById("myCheck");
        var text = document.getElementById("text");
        if (checkBox.checked == true){
          text.style.display = "block";
        } else {
           text.style.display = "none";
        }
        var checkBox = document.getElementById("myCheck");
        var text = document.getElementById("text2");
        if (checkBox.checked == true){
          text.style.display = "none";
        } else {
           text.style.display = "block";
        }
      }
      </script>



      <script type="text/javascript">
        console.clear();

        const navExpand = [].slice.call(document.querySelectorAll('.nav-expand'));
        const backLink = `<li class="nav-item">
          <a class="nav-link nav-back-link" href="javascript:;">
            Back
          </a>
        </li>`;

        navExpand.forEach(item => {
          item.querySelector('.nav-expand-content').insertAdjacentHTML('afterbegin', backLink);
          item.querySelector('.nav-link').addEventListener('click', () => item.classList.add('active'));
          item.querySelector('.nav-back-link').addEventListener('click', () => item.classList.remove('active'));
        });


        // ---------------------------------------
        // not-so-important stuff starts here

        const ham = document.getElementById('ham');
        ham.addEventListener('click', function () {
          document.body.classList.toggle('nav-is-toggled');
        });
      </script>

  </body>
</html>
